body {
	background-color: #232323;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1%;
	border: 0.5px solid white;
	border-radius: 10px;
}

#container {
	margin: 0px auto;
	max-width: 600px;
}

h1 {
	color: white;
	text-align: center;
}
